@page
@model BookmarksWebApp.Pages.Bookmarks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bookmark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bookmark.ID" />
            <div class="form-group">
                <label asp-for="Bookmark.Title" class="control-label"></label>
                <input asp-for="Bookmark.Title" class="form-control" />
                <span asp-validation-for="Bookmark.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookmark.Link" class="control-label"></label>
                <input asp-for="Bookmark.Link" class="form-control" />
                <span asp-validation-for="Bookmark.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookmark.Category" class="control-label"></label>
                <input asp-for="Bookmark.Category" class="form-control" />
                <span asp-validation-for="Bookmark.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookmark.LastViewedDate" class="control-label"></label>
                <input asp-for="Bookmark.LastViewedDate" class="form-control" />
                <span asp-validation-for="Bookmark.LastViewedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
