@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This simple web application runs on ASP.NET Core. It's a basic <e>Hello World</e> type of project.</p>
</div>
